{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
    Create Student
{% endblock %}

{% block content %}
    <h2>Add Student</h2>
    <form method="post">
        {% csrf_token %}

        {% for hidden in signup_form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in signup_form.visible_fields %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
                {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        {% endfor %}

        {% include 'form.html' %}

    </form>
{% endblock %}