{% extends 'base.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load index %}

{% block title %}
    Fill survey
{% endblock %}

{% block css-files %}
    <style>
        .im2 {
            background-image: url('{% static 'images/emoji5.png' %}');
            background-size: 64px 64px;
            background-repeat: no-repeat;
            width: 64px;
            height: 64px;
            display: inline-block;
            cursor: pointer;
        }

        .rate-base-layer span {
            opacity: 0.5;
        }
    </style>
{% endblock %}

{#{% block content %}#}
{#<h1>Order and Items</h1>#}
{#<form method="post">#}
{#{% csrf_token %}#}
{#{{ form }}#}
{##}
{#{% for formset in inlines %}#}
{##}
{#{{ formset }}#}
{##}
{#{% endfor %}#}
{##}
{##}
{#<input type="submit" value="Submit" />#}
{##}
{#</form>#}
{#{% endblock %}#}

{#{% block content %}#}
{#    <h2>Add survey</h2>#}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{##}
{#        {{ form|crispy }}#}
{##}
{#        {% for formset in inlines %}#}
{#            {{ formset }}#}
{#            {% include 'form.html' with form=formset %}#}
{#        {% endfor %}#}
{##}
{#        <div class="form-group">#}
{#            <button type="submit" class="btn btn-success">#}
{#                <span class="glyphicon glyphicon-ok"></span> Save#}
{#            </button>#}
{#            <a href="{% url 'professor:create' %}" class="btn btn-default">Cancel</a>#}
{#        </div>#}
{#    </form>#}
{#{% endblock %}#}

{% block content %}
    <h2>{{ survey.name }}</h2>
    <h4>Due date: {{ survey.due_date }}</h4>
    <h4>Description: {{ survey.description }}</h4>
    <h4>For course: {{ survey.course }}</h4>
    <form method="post" novalidate>
        {% csrf_token %}
        <table class="table">
            {{ answers.management_form }}
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Answer</th>
                </tr>
            </thead>
            {% for question in questions %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <th>{{ question.body }}</th>
                    {% with answers.forms|index:forloop.counter0 as form %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                                <td>
        {#                             Include the hidden fields in the form#}
        {#                            {% if forloop.first %}#}
        {#                                {% for hidden in form.hidden_fields %}#}
        {#                                    {{ hidden }}#}
        {#                                {% endfor %}#}
        {#                            {% endif %}#}
        {#                            {{ field }}#}
        {#                            {{ field.errors.as_ul }}#}
                                    {{ field|add_class:'hidden' }}
                                    {#                                    {{ field|add_class:'form-control' }}#}
                                    <div id="rate-{{ field.auto_id }}"></div>
                                    {#                                    {% for error in field.errors %}#}
                                    {#                                        <span class="help-block">{{ error }}</span>#}
                                    {#                                    {% endfor %}#}
                                </td>
                        {% endfor %}
                    {% endwith %}
                </tr>
            {% endfor %}
        </table>
        <div class="form-group">
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-ok"></span> Save
            </button>
            <a href="{% url 'response:list' %}" class="btn btn-default">Back to the list</a>
        </div>
    </form>
{% endblock %}

{% block js %}
    <script src="{% static 'js/rater.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            {% for form in answers.forms %}
                {% for field in form.visible_fields %}
                    $("#rate-{{ field.auto_id }}").rate({
                        selected_symbol_type: 'image2',
                        max_value: 5,
                        step_size: 1,
                        update_input_field_name: $("#{{ field.auto_id }}"),
                        only_select_one_symbol: true,
                        symbols: {
                            image2: {
                                base: ['<div style="background-image: url(\'{% static 'images/emoji1.png' %}\');" class="im2">&nbsp;</div>',
                                    '<div style="background-image: url(\'{% static 'images/emoji2.png' %}\');" class="im2">&nbsp;</div>',
                                    '<div style="background-image: url(\'{% static 'images/emoji3.png' %}\');" class="im2">&nbsp;</div>',
                                    '<div style="background-image: url(\'{% static 'images/emoji4.png' %}\');" class="im2">&nbsp;</div>',
                                    '<div style="background-image: url(\'{% static 'images/emoji5.png' %}\');" class="im2">&nbsp;</div>',],
                                hover: ['<div style="background-image: url(\'{% static 'images/emoji1.png' %}\');" class="im2">&nbsp;</div>',
                                    '<div style="background-image: url(\'{% static 'images/emoji2.png' %}\');" class="im2">&nbsp;</div>',
                                    '<div style="background-image: url(\'{% static 'images/emoji3.png' %}\');" class="im2">&nbsp;</div>',
                                    '<div style="background-image: url(\'{% static 'images/emoji4.png' %}\');" class="im2">&nbsp;</div>',
                                    '<div style="background-image: url(\'{% static 'images/emoji5.png' %}\');" class="im2">&nbsp;</div>',],
                                selected: ['<div style="background-image: url(\'{% static 'images/emoji1.png' %}\');" class="im2">&nbsp;</div>',
                                    '<div style="background-image: url(\'{% static 'images/emoji2.png' %}\');" class="im2">&nbsp;</div>',
                                    '<div style="background-image: url(\'{% static 'images/emoji3.png' %}\');" class="im2">&nbsp;</div>',
                                    '<div style="background-image: url(\'{% static 'images/emoji4.png' %}\');" class="im2">&nbsp;</div>',
                                    '<div style="background-image: url(\'{% static 'images/emoji5.png' %}\');" class="im2">&nbsp;</div>',],
                            },
                        },
                    });
                {% endfor %}
            {% endfor %}
        });
    </script>
{% endblock %}
