{% extends 'base.html' %}

{% block title %}
    Bad request
{% endblock %}

{% block css-files %}
    <style>
        .error-template {
            padding: 40px 15px;
            text-align: center;
        }

        .error-actions {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .error-actions .btn {
            margin-right: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    400 Bad Request</h2>
                <div class="error-details">
                    Sorry, an error has occured, bad request!
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Home page </a><a href="{{ request.META.HTTP_REFERER }}" class="btn btn-default btn-lg"><span
                        class="glyphicon glyphicon-circle-arrow-left"></span> Back </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}