{% extends 'base.html' %}

{% load staticfiles %}
{% load index %}
{% load division %}

{% block title %}
    Survey #{{ survey.id }}
{% endblock %}

{% block content %}
    <h2>Survey #{{ survey.id }}
        <span class="pull-right"><a href="{% url 'survey:pdf' survey.id %}" class="btn btn-primary">
            <span class="glyphicon glyphicon-export"></span> Export PDF
        </a>
        <a href="{% url 'survey:update' survey.id %}" class="btn btn-danger">
            <span class="glyphicon glyphicon-pencil"></span> Update (don't update after launching)
        </a></span>

    </h2>
    <table class="table table-hover">
        <tbody>
        <tr>
            <th>Name</th>
            <td>{{ survey.name }}</td>
        </tr>
        <tr>
            <th>No. of students who should complete the survey</th>
            <td>{{ total_number_of_students }}</td>
        </tr>
        <tr>
            <th>No. of students who completed the survey</th>
            <td>{{ voted }}</td>
        </tr>
        <tr>
            <th>No. of students who didn't complete the survey</th>
            <td>{{ not_voted }}</td>
        </tr>
        </tbody>
    </table>

    <h3>Following statistics are for who completed the survey only</h3>

    {% for question in questions %}
        <div class="col-md-6 col-sm-6 col-xs-12">
            <h3>Question #{{ forloop.counter }}</h3>
            <p>{{ question.body }}</p>
            {% with answers|index:forloop.counter0 as answer %}
                <p><strong>Voted '1':</strong> {{ answer|index:1 }}, i.e. {% percentage answer|index:1 voted %}%</p>
                <p><strong>Voted '2':</strong> {{ answer|index:2 }}, i.e. {% percentage answer|index:2 voted %}%</p>
                <p><strong>Voted '3':</strong> {{ answer|index:3 }}, i.e. {% percentage answer|index:3 voted %}%</p>
                <p><strong>Voted '4':</strong> {{ answer|index:4 }}, i.e. {% percentage answer|index:4 voted %}%</p>
                <p><strong>Voted '5':</strong> {{ answer|index:5 }}, i.e. {% percentage answer|index:5 voted %}%</p>
                <p><strong>Didn't vote:</strong> {{ answer|index:0 }}, i.e. {% percentage answer|index:0 voted %}%</p>
            {% endwith %}
        </div>
        <div class="asp-canvas-chart col-lg-4 col-md-5 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0">
            <canvas id="{{ question.id }}" width="300" height="300"></canvas>
        </div>
    {% endfor %}
{% endblock %}

{% block js %}
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script>
        {% for question in questions %}
            var ctx_{{ question.id }} = document.getElementById("{{ question.id }}");
            var myChart_{{ question.id }} = new Chart(ctx_{{ question.id }}, {
                type: 'doughnut',
                data: {
                    labels: ["Voted '1'", "Voted '2'", "Voted '3'", "Voted '4'", "Voted '5'", "Didn't vote"],
                    datasets: [{
                        label: '# of Votes',
                        {% with answers|index:forloop.counter0 as answer %}
                            data: [{{ answer|index:1 }}, {{ answer|index:2 }}, {{ answer|index:3 }}, {{ answer|index:4 }}, {{ answer|index:5 }}, {{ answer|index:0 }}],
                        {% endwith %}
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
            });
        {% endfor %}
    </script>
{% endblock %}