{% extends 'base.html' %}

{% block title %}
    Educational year option
{% endblock %}

{% block content %}

    <h2>
        Educational year option
    </h2>

    <table class="table table-hover">
        <tbody>
        <tr>
            <th>Educational year list</th>
            <td><a href="{% url 'educational_year:list' %}">Click here</a></td>
        </tr>
        <tr>
            <th>Educational year create</th>
            <td><a href="{% url 'educational_year:create' %}">Click here</a></td>
        </tr>
        </tbody>
    </table>
{% endblock %}
